.bg-white{
	background-color: $color-white;
}

.bg-gray-light{
	background-color: $color-gray-light;
}

.bg-alif-purple{
	background-color: $color-alif-purple;
}

.bg-alif-purple-2{
	background-color: #912694;
}

.bg-alif-purple-3{
	background-color: #99289c;
}

.bg-alif-purple-4{
	background-color: #a129a4;
}

.bg-alif-green{
	background-color: $color-alif-green;
}

.bg-alif-green-2{
	background-color: #91cd52;
}

.bg-alif-green-3{
	background-color: #96d553;
}

.bg-alif-green-4{
	background-color: #9fe259;
}