body{
	font-family: open-sans-regular;
    width: 100%;
}

a{
	text-decoration: none;
	cursor: pointer;
    @include transition(0.4s);
}

.section{
    padding: 50px 0px;

    .box-title{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 50px;

        .title{
            font-size: 24px;
            font-family: open-sans-bold;
            margin-bottom: 10px;
            color: $color-black;
            text-transform: uppercase;
        }

        .description{
            font-size: 18px;
            font-family: open-sans-light;
            color: $color-black;
        }
    }
}

.section2{
    padding: 70px 0px;
}

.site-wrapper{
    overflow: hidden;
}

.wow {
   visibility: hidden;
}

// BACK TO TOP
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 5%;
    z-index: 9999;
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 30px;
    background: #8cc551;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #8cc551;
    border-radius: 0px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 20px;
    padding: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#back-to-top:hover {
    background: #FFFFFF;
    color: #8cc551;
    @include transition(0.4s);
}

#back-to-top.show {
    opacity: 1;
}


// BACKGROUND IMAGE
.bg1{
     background: url(../images/gallery/bg1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
}

.bg2{
     background: url(../images/gallery/slider_1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
}