body{
	font-family: open-sans-regular;
    width: 100%;
}

a{
	text-decoration: none;
	cursor: pointer;
    @include transition(0.4s);
}

.box-leave{
    margin-right: -15px;
    margin-left: -15px;
}

.section{
    padding: 50px 0px;

    .box-title{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 50px;

        .title{
            font-size: 24px;
            font-family: open-sans-bold;
            margin-bottom: 10px;
            color: $color-black;
            text-transform: uppercase;
        }

        .description{
            font-size: 18px;
            font-family: open-sans-light;
            color: $color-black;
        }
    }
}

.section2{
    padding: 70px 0px;
}

.site-wrapper{
    overflow: hidden;
}

.wow {
   visibility: hidden;
}

// BACK TO TOP
#back-to-top {
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 9999;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 30px;
    background: rgba(68, 68, 68, 0.72);
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgba(68, 68, 68, 0.72);
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 3em;
    padding: 10px 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    &:hover {
        background: #333333;
        color: #FFFFFF;
        @include transition(0.4s);
    }
}

#back-to-top.show {
    opacity: 1;
}

.newsletter{
    background: url(../images/gallery/bg-footer.png) bottom center repeat-x;

    h2{
        margin-top: -20px;
        margin-bottom: 20px;
        background: -webkit-linear-gradient(left,$color-alif-purple, $color-alif-green);
        color: $color-alif-purple;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 40px;
    }

    .input-group{
        margin-bottom: 100px;
    }
}


// BACKGROUND IMAGE
.bg1{
     background: url(../images/gallery/bg1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
}

.bg2{
     background: url(../images/gallery/slider_1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
}